<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>group-overview</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Group Overview</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-img
  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcsumb.edu%2Fmedia%2Fcsumb%2Fsection-editors%2Flibrary%2Flibrary-diversity-equity-amp-inclusion%2FCLSS-Banner-3549x2304.png&f=1&nofb=1&ipt=67e600107bb63c320624b40ca0b12922439026d4bd83221dd8e2974c9b498d50&ipo=images"
  alt="El Centro Logo"
></ion-img>

<ion-toolbar>
  <button routerLink="/group-overview" class="appheader" id="currentButton">Overview</button>
  <button routerLink="/group-overview" class="appheader">Events</button>
</ion-toolbar>

<!-- Group Info -->
<ion-content [fullscreen]="true" class="ion-padding">
<h2>Mission:</h2>
<p>CSUMB's Centro will serve as a central hub and resource for Chicanx/Latinx student success, by providing academic, social, and personal support in a welcoming space to be the affirming and diverse home students deserve while pursuing their educational and personal goals.</p>

<h2>Contact Info:</h2>
<a href="mailto:elcentro@csumb.edu">elcentro&#64;csumb.edu</a>

<h2>Open Drop-in Hours:</h2>
<p>Tuesday - Friday<br>
9:00 AM–5:00 PM</p>

<h2>Location:</h2>
<p>Bldg 12 Rm 125<br>
100 Campus Center, Seaside, CA 93955, United States</p>

<h2>Social Links:</h2>
<!-- Add social links -->

</ion-content>
<!-- End of Group Info -->


</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Navigation Bar -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="['/home']" tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/resources-page']" tab="journal">
      <ion-icon name="journal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/group-overview']" tab="people">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/chats-page']" tab="chat">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
<!-- End of Navigation Bar -->
  </ion-toolbar>
</ion-footer>